{
     "copy":{
        "files":{
            "demo1":{
                "prefix": "d:/",
                "items": [
                    "demo1.js"
                ]
            },
            "demo3":{
                "prefix": "d:/",
                "items": [
                    "{{APP}}.js"
                ]
            }
        },
        "dirs":{
            "demo2":{
                "prefix": "d:/",
                "items": [
                    "demo2.js"
                ]
            },
            "demo4":{
                "prefix": "d:/",
                "items": [
                    "demo4.js"
                ]
            }
        }
    },
    "buildStyle":{
        "demo":{
            "from":"demo1.less",
            "to":"demo2.qss"
        },
        "demo2":{
            "from":"{{APP}}.less",
            "to":"demo4.qss"
        }
    }
}