{
    "copy": {
        "files": {
            "dll": {
                "prefix": "{{OUT_PWD}}/{{BUILD_TYPE}}",
                "items": [
                    "{{APP_NAME}}.dll"
                ]
            },
            "lib": {
                "prefix": "{{OUT_PWD}}/{{BUILD_TYPE}}",
                "items": [
                    "{{APP_NAME}}.lib"
                ]
            },
            "include": {
                "prefix": "{{PWD}}",
                "items": [
                    "demo.h"
                ]
            }
        },
        "dirs": {
            "debugdll": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}",
                    "{{DEBUG_DIR}}/{{APP_NAME}}/{{APP_VERSION}}"
                ]
            },
            "debuglib": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}/lib",
                    "{{DEBUG_DIR}}/{{APP_NAME}}/{{APP_VERSION}}/lib"
                ]
            },
            "debuginclude": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}/include",
                    "{{DEBUG_DIR}}/{{APP_NAME}}/{{APP_VERSION}}/include"
                ]
            },
            "releasedll": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}",
                    "{{PUBLISH_DIR}}/{{APP_NAME}}/{{APP_VERSION}}"
                ]
            },
            "releaselib": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}/lib",
                    "{{PUBLISH_DIR}}/{{APP_NAME}}/{{APP_VERSION}}/lib"
                ]
            },
            "releaseinclude": {
                "prefix": "",
                "items": [
                    "{{EXEC_DIR}}/include",
                    "{{PUBLISH_DIR}}/{{APP_NAME}}/{{APP_VERSION}}/include"
                ]
            }
        }
    },
    "less": {
        "from": "{{PWD}}/style.less",
        "to": "{{PWD}}/style.qss"
    }
}